<section id="how">
	<h1 class="titulo">Keel Calm! Speak Encrypt!</h1>
	<div class="text">


		<p>
			El derecho a la privacidad es como el derecho a la libertad de expresión. Que no tengas nada que decir, no significa que renuncies a tu derecho a expresarte, asi como que no tengas nada que esconder, no significa que renuncies a tu derecho a la privacidad.<br/>
			&nbsp;&nbsp;<i>"Eduard Snowden"</i>
		</p>
		<p>
			No obstante no hay que confundir discreción con anonimato. En esta página web ni usamos cookies, ni recolectamos datos.<br/>
			Pedimos el mail en el registro de nuevos usuarios para evitar los molestos Bots creaCuentasFake. Hoy no te mandaremos spam, y con toda probabilidad, mañana tampoco.</p>
		<p>
			Nos planteamos el uso de GoogleAnalitics por un tema de estadísticas y visitas pero..... para que? si esta web es mas para nosotros que para navegantes curiosos! Y si al final lo implementásemos, seguro seria con nuestro propio codigo, que al fin y al cabo, lo aprendimos y podemos hacerlo.
		</p>


		{# <ul class="cat-list">
			{% for cat in categories_altres %}
				{% if cat.articles|length > 0 %}
					<li>
						<a href="{{ path('articles_categoria', {cat_name: cat.nom}) }}" alt"enllaç a articles de la categoria {{cat.nom}}" title="Veure articles de {{cat.nom}}">
							<img src="{{ asset("img/categories/" ~ cat.logo) }}" alt="{{cat.nom}} icon" class="cat-icon">
							<span class="badge badge-secondary cat-length">{{cat.articles|length }}</span>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul> #}
	</div>
</section>
