<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		{% block title %}B-NERD ! {#{page_title}#}{% endblock %}
	</title>
	{% block stylesheets %}
		<!--BOOTSRAP - En prinicipi no els farem servir, pero els deixo aqui per si de cas-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		<!--AWESOME ICON FONT-->
		<link
		rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!--GOOGLE FONTS-->
		<link href="https://fonts.googleapis.com/css2?family=Abel&family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

		<link href="{{ asset('bundles/fosckeditor/plugins/codesnippet/lib/highlight/styles/rainbow.css') }}" rel="stylesheet">
		<script src="{{ asset('bundles/fosckeditor//plugins/codesnippet/lib/highlight/highlight.pack.js') }}"></script>

		<!--PROPIS del PROJECTE-->
		<link rel="stylesheet" href="{{ asset('css/b-nerd.css') }}">
		<link rel="stylesheet" href="{{ asset('css/estils-aleix.css') }}">
		<script src="{{ asset('js/b-nerd2.js') }}"></script>
	{% endblock %}
	{% block style %}
		{% if (color is defined) and (color is not empty) %}
			<style>
				nav {
					border-right: 3px solid {{color}};
				}
				.menu-username,
				.active {
					color: {{color}}
					!important;
				}
				.menu-bottom a:hover,
				.menu-bottom i:hover {
					color: {{color}}
					;
				}
			</style>
		{% endif %}
	{% endblock %}


</head>
