<nav class="primary-menu">
	<ul id="hamburgesa">
		<li>
			<a>
				<i class="fa fa-bars"></i>
			</a>
		</li>

	</ul>
	<ul id="menu">
		{% for section in sections %}
			<li>
				<a class="menu-icon" href="{{section.menulink}}">
					<i class="fa fa-user-circle"></i>
				</a>
			//	{% if loop.first %}
			//		<a class="menu-link-visible active" href="#{{section.menulink}}">{{section.menulink}}</a>
			//	{% else %}
			//		<a class="menu-link-visible" href="#{{section.menulink}}">{{section.menulink}}</a>
			//	{% endif %}
			</li>
		{% endfor %}

		<li>
			{% if app.user %}
				<a class="menu-icon" href="{{ path('app_logout')}}">
					<i class="fa fa-user-circle"></i>
				</a>
				<a class="menu-link-hidden" href="{{ path('app_logout')}}">SORTIR</a>
			{% else %}

				<a class="menu-icon" href="{{ path('app_login')}}">
					<i class="fa fa-user-circle"></i>
				</a>
				<a class="menu-link-hidden" href="{{ path('app_login')}}">LOGIN</a>
			{% endif %}

		</li>
	</ul>
</nav>
