<nav class="primary-menu">

	<ul id="menu-top">

		<li id="search">
			<a>
				<i class="fa fa-search"></i>
			</a>
		</li>
		<li id="hamburgesa">
			<a>
				<i class="fa fa-bars"></i>
			</a>
		</li>
	</ul>

	<ul
		id="menu-bottom">
		<!--PRIMER ITEM DEL MENU -> USUARI-->
		<li>
			<!--SI HI HA UN USUARI LOGGEJAT-->
			{% if app.user %}
				<!--SI L'USUARI TE IMATGE DE PERFIL-->
				{% if app.user.imatge %}
					<a class="menu-user-icon" href="{{ path('userProfile')}}">
						<img src="/img/imatges_perfil/{{ asset(app.user.imatge) }}" alt="imatge de perfil" id="img-modif" class="menu-user-icon">
						<br/>
						{{app.user.username}}
					</a>
				{% else %}
					<a class="menu-user-icon" href="{{ path('userProfile')}}">
						<i class="fa fa-user-circle"></i>
						{{article.user.username}}
					</a>
				{% endif %}
			{% else %}
				<a class="menu-user-icon" href="{{ path('app_login')}}">
					<i class="fa fa-user-circle"></i>
				</a>
			{% endif %}
		</li>
		<!--SEGON ITEM DEL MENU - PAGINA INICI-->
		<li>
			<a class="menu-icon" href="{{ path('homepage') }}">
				<i class="fa fa-home"></i>
			</a>
			<a class="menu-link-visible active" href="{{ path('homepage') }}">INICI</a>
		</li>
		<!--TERCER ITEM SORTIR-->
		{% if app.user %}
			<li>
				<a class="menu-icon" href="{{ path('app_logout')}}">
					<i class="fa fa-power-off"></i>
				</a>
				<a class="menu-link-hidden" href="{{ path('app_logout')}}">SORTIR</a>
			</li>
		{% endif %}
	</ul>
</nav>
