<ul class="menu-user">
	{% if app.user %}
		<li>
			<a
				href="{{ path('userProfile')}}">
				<!--SI L'USUARI TE IMATGE DE PERFIL-->
				{% if app.user.imatge %}
					<img src="{{ asset("img/imatges_perfil/" ~ app.user.imatge) }}" alt="imatge de perfil" id="img-modif">
				{% else %}
					<i class="fa fa-user-circle"></i>
				{% endif %}
			</a>
		</li>
		<li>
			<a class="menu-link menu-username" href="{{ path('userProfile')}}">{{app.user.username}}</a>
		</li>
		<li>
			{# <a class="menu-icon-logout" href="{{ path('app_logout')}}">
				<i class="fa fa-power-off"></i>
			</a> #}
			<a class="menu-link logout-link" href="{{ path('app_logout')}}">
				sortir
			</a>
		</li>
	{% else %}
		<li>
			<a class="menu-icon" href="{{ path('app_login')}}">
				<i class="fa fa-user-circle"></i>
			</a>
		</li>
	{% endif %}
</ul>

	<!--RESTA DE ITEMS DEL MENU - PAGINA INICI-->
<ul
	class="menu-bottom">
	<li class="scrollable">
		<a class="menu-link active" href="{{ path('homepage')}}">b-NERD toDEVELOPE</a>
	</li>
	<li class="scrollable">
		<a class="menu-link" href="#hard-skills">HARD SKILLS</a>
	</li>
	<li class="scrollable">
		<a class="menu-link" href="#how">MAS</a>
	</li>
	<li class="scrollable">
		<a class="menu-link" href="#contact">CONTACTO</a>
	</li>

	<!-- BUSCADOR -->
	<li id="search">
		<a class="menu-link" href="#contact">SEARCH</a>
		{# <i class="menu-icon fa fa-search"></i> #}
	</li>
	<li id="hamburgesa">
		<i class="menu-icon fa fa-bars"></i>
	</li>
	<li id="dark-mode">
		<i class="menu-icon fa fa-toggle-off"></i>
	</li>

</ul>
