<ul
	id="menu-bottom">
	<!--SI HI HA UN USUARI LOGGEJAT - primer mostrar el seu perfil-->
	{% if app.user %}
		<li>
			<a
				class="menu-user" href="{{ path('userProfile')}}">
				<!--SI L'USUARI TE IMATGE DE PERFIL-->
				{% if app.user.imatge %}
					<img src="/img/imatges_perfil/{{ asset(app.user.imatge) }}" alt="imatge de perfil" id="img-modif">
				{% else %}
					<i class="fa fa-user-circle"></i>
				{% endif %}
			</a>
		</li>
		<li>
			<a class="menu-username" href="{{ path('userProfile')}}">{{app.user.username}}</a>
		</li>
		<li>
			<a class="menu-icon-logout" href="{{ path('app_logout')}}">
				<i class="fa fa-power-off"></i>
			</a>
			<a class="menu-link-logout" href="{{ path('app_logout')}}">
				sortir
			</a>
		</li>
	{% else %}
		<li>
			<a class="menu-icon" href="{{ path('app_login')}}">
				<i class="fa fa-user-circle"></i>
			</a>
		</li>
	{% endif %}
	<!-- HAMBURGUESA TOGGLE -->

	<li id="hamburgesa">
		<i class="menu-icon fa fa-bars"></i>
	</li>


	<!--RESTA DE ITEMS DEL MENU - PAGINA INICI-->
	{% for section in sections %}
		<li class="scrollable">
			{% if loop.first %}
				<a class="menu-link active" href="#{{section.menulink}}">{{section.menulink}}</a>
			{% else %}
				<a class="menu-link" href="#{{section.menulink}}">{{section.menulink}}</a>
			{% endif %}
		</li>
	{% endfor %}
	<!-- BUSCADOR -->
	<li id="search">
		<i class="menu-icon fa fa-search"></i>
	</li>


</ul>
