<ul class="menu-user">
	{% if app.user %}
		<li>
			<a
				href="{{ path('userProfile', {username: app.user.username}) }}" alt="Veure perfil de {{app.user.username}}">
				<!--SI L'USUARI TE IMATGE DE PERFIL-->
				{% if app.user.imatge and app.user.imatge is not empty %}
					<img src="{{ asset("img/imatges_perfil/" ~ app.user.imatge) }}" alt="imatge de perfil" id="img-modif">
				{% else %}
					<i class="menu-icon fa fa-user-circle"></i>
				{% endif %}
			</a>
		</li>
		<li>
			<a class="menu-link menu-username" href="{{ path('userProfile', {username: app.user.username}) }}" alt="Enllaç al perfil d'usuari" title="Veure perfil d'usuari">{{app.user.username}}</a>
		</li>
		<li>

			<a class="menu-link logout-link" href="{{ path('app_logout')}}" alt="Tancar la sessió">
				sortir
			</a>
		</li>
	{% else %}
		<li>
			<a href="{{ path('app_login')}}" alt="Enllaç a formulari de login">
				<i class="menu-icon fa fa-user-circle"></i>
			</a>
		</li>
	{% endif %}
</ul>

<!--RESTA DE ITEMS DEL MENU - PAGINA INICI-->
<ul class="menu-bottom">
	<li class="scrollable">
		<a class="menu-link active" href="{{ path('homepage')}}#about-us" alt="Pagina d'inici">b-NERD toDEVELOPE</a>
	</li>
	<li class="scrollable">
		<a class="menu-link" href="{{ path('homepage')}}#hard-skills" alt="Enllaç a la secció de categories">HARD SKILLS</a>
	</li>
	<li class="scrollable">
		<a class="menu-link" href="{{ path('homepage')}}#how" alt="Enllaç a la secció de presentació">MAS</a>
	</li>
	<li class="scrollable">
		<a class="menu-link" href="{{ path('homepage')}}#contact" alt="Enllaç al formulari de contacte">CONTACTE</a>
	</li>

	<!-- BUSCADOR -->
	{# <li id="search">
		<a class="menu-link" href="{{ path('homepage')}}#contact">SEARCH</a>
		{# <i class="menu-icon fa fa-search"></i> #}
	</li>
	<li id="hamburgesa">
		<i class="menu-icon fa fa-bars" alt="Desplegar el menu de navegació"></i>
	</li>
	<li id="dark-mode">
		<i class="menu-icon fa fa-toggle-off" alt="Botó per activar o desactivar el tema fosc"></i>
	</li>
	{% if app.user and is_granted('ROLE_ADMIN',app.user.roles) %}
		<li>
			<a class="menu-link" href="{{ path('admin')}}" alt="Enllaç al zona admin">admin</a>
		</li>
	{% endif %}


</ul>
