<ul class="menu-user">
	{% if app.user %}
		<li>
			<a href="{{ path('userProfile', {username: app.user.username}) }}" alt="ver perfil de {{app.user.username}}">
				{% if app.user.imatge and app.user.imatge is not empty %}
					<img src="{{ asset("img/imatges_perfil/" ~ app.user.imatge) }}" alt="imagen de perfil" id="img-modif">
				{% else %}
					<i class="menu-icon fa fa-user-circle"></i>
				{% endif %}
			</a>
		</li>
		<li>
			<a class="menu-link menu-username" href="{{ path('userProfile', {username: app.user.username}) }}" alt="enlace al perfil de usuario" title="Ver perfil de usuario">{{app.user.username}}</a>
		</li>
		<li>

			<a class="menu-link logout-link" href="{{ path('app_logout')}}" alt="cerrar la sessión">
				salir
			</a>
		</li>
	{% else %}
		<li>
			<a href="{{ path('app_login')}}" alt="enlace a formulario de login">
				<i class="menu-icon fa fa-user-circle"></i>
			</a>
		</li>
	{% endif %}
</ul>

<ul class="menu-bottom">
	<li>
		<a class="menu-link scrollable active" href="{{ path('homepage')}}#about-us" alt="Pagina de inicio">b-NERDS</a>
	</li>
	<li>
		<a class="menu-link scrollable" href="{{ path('homepage')}}#hard-skills" alt="enlace a la sección de categorias">HARD SKILLS</a>
	</li>
	<li>
		<a class="menu-link scrollable" href="{{ path('homepage')}}#how" alt="enlace a la sección de presentación">KEEP SAFE</a>
	</li>
	<li>
		<a class="menu-link scrollable" href="{{ path('homepage')}}#contact" alt="enlace al formulario de contacto">CONTACTO</a>
	</li>

	<li id="hamburgesa">
		<i class="menu-icon fa fa-bars" alt="ver menu de navegació"></i>
	</li>
	<li id="dark-mode">
		<i class="menu-icon fa fa-toggle-off" alt="botón para activar o desactivar el tema oscuro"></i>
	</li>
	{% if app.user and is_granted('ROLE_ADMIN',app.user.roles) %}
		<li>
			<a class="menu-link" href="{{ path('admin')}}" alt="enlace a zona admin">admin</a>
		</li>
	{% endif %}


</ul>
