{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('menu.html.twig') }}
{% endblock %}

{% block content %}

	<section id="menu_item_section_name_4">
		<h1 class="titulo">
			Nou Article
		</h1>

		{{ form_start(formArticle) }}
		<div class="form-group">
			{{ form_label(formArticle.titol) }}
			{{ form_widget(formArticle.titol) }}
		</div>
		<div class="form-group">
			{{ form_label(formArticle.subtitol) }}
			{{ form_widget(formArticle.subtitol) }}
		</div>
		<div class="form-group" id="categories">
			{{ form_label(formArticle.categoria) }}
			{{ form_widget(formArticle.categoria) }}
		</div>
		<div class="form-group" id="novaCategoria" style="display:none">
			{{ form_label(formArticle.nova_categoria) }}
			{{ form_widget(formArticle.nova_categoria) }}
		</div>
		<div class="form-group">
			{{ form_label(formArticle.contingut) }}
			{{ form_widget(formArticle.contingut) }}
		</div>
		<div class="form-group">
			{{ form_label(formArticle.meta_tag) }}
			{{ form_widget(formArticle.meta_tag) }}
		</div>
		<div class="form-group">
			{{ form_label(formArticle.meta_description) }}
			{{ form_widget(formArticle.meta_description) }}
		</div>
		<div class="form-group">
			{{ form_label(formArticle.visible) }}
			{{ form_widget(formArticle.visible) }}
		</div>


		{{ form_widget(formArticle) }}
		<button class="btn btn-block btn-outline-secondary">{{ button_label|default('guardar dades') }}</button>
		{{ form_end(formArticle) }}

	</section>

{% endblock %}
