{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('articles/menu_articles.html.twig') }}
{% endblock %}
{% block content %}

	<section id="{{article.slug}}">
		<h1 class="article_individual_titol">{{article.titol}}</h1>
		<h4 class="article_individual_resum">{{article.subtitol}}</h4>
		<div class="article_individual_content">
			Publicada el&nbsp;{{article.datapublicacio|date("d/m/Y")}}&nbsp;en&nbsp;{{article.categoria.nom}}<br/>
			Por&nbsp;{{article.user.username}}<br>
			{{article.contingut|raw}}
		</div>
		<h3>
			<p>
				Publicada el&nbsp;{{article.datapublicacio|date("d/m/Y")}}&nbsp;en&nbsp;{{article.categoria.nom}}<br/>
				Por&nbsp;{{article.user.username}}
			</p>

			{% if app.user and is_granted('ROLE_ADMIN') %}
				<a href="{{ path('article_update', {slug:article.slug}) }}">editar article</a>
			{% endif %}

		</section>

	{% endblock %}
