{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('articles/articlemenu.html.twig') }}
{% endblock %}
{% block content %}

	<!--CONTINGUT DE LA WEB - ZONA DRETA-->
	<main>

		<div id="fade"></div>

			<section id="{{article.slug}}">
				<h1 class="titulo">{{article.titol}}</h1>
				<h3 class="text-secondary">{{article.subtitol}}</h3>
				<div class="content">
					{{article.contingut}}</div>
				<ul>
					<li>Categoria:&nbsp;{{article.categoria.nom}}</li>
					<li>Autor:&nbsp;{{article.user.username}}</li>
					{# <li>Data Publicacio&nbsp;{{section.data_publicacio|date("d/m/Y")}}</li> #}
					<li>Slug:&nbsp;{{article.slug}}</li>

				</section>

		</main>
	{% endblock %}
