{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('articles/menu_articles.html.twig') }}
{% endblock %}
{% block content %}

	<section id="{{article.slug}}">
		<h1 class="titulo">{{article.titol}}</h1>
		<h4 class="article_individual_resum">{{article.resum}}</h4>
		<div class="article_individual_content">
			{{article.contingut|raw}}
		</div>
		<div>
			{% if article.html is not null  %}
				<a href="{{ path('inline_editor',{slugArticle:article.slug}) }}">Nerd it</a>	
			{% endif %}	
		</div>
		{# <p class="article-footer">
																																		Publicada el {{article.datapublicacio|date("d/m/Y")}} por {{article.user.username}} en {{article.categoria.nom}}
																																		</p> #}

		<ul class="feedback-list">
			<li class="feedback-icons">
				<i class="fa fa-frown-o"></i>
			</li>
			<li class="feedback-icons">
				<i class="fa fa-meh-o"></i>

			</li>
			<li class="feedback-icons">
				<i class="fa fa-smile-o"></i>
			</li>
			<li class="feedback-icons">
				<i class="fa fa-rocket"></i>
			</li>
		</ul>
		<div id="feedback-modal">
			<h5 class="feedback-info">Feedback</h5>

			{{ form_start(feedbackForm) }}

			{# {% if app.user in article.comentaris.user %} #}
{# hola #}
			{# {% else %} #}
				{{ form_widget(feedbackForm.text) }}
				{{ form_widget(feedbackForm.tipus) }}
			{# {% endif %} #}

			<p class="feedback-footer">Solo los usuarios registrados pueden añadir comentarios</p>
			<div class="text-right">
				{% if app.user and is_granted('ROLE_VALIDATED') %}
					<button type="submit" class="btn btn-outline-secondary">enviar</button>
				{% else %}
					<button type="button" class="btn btn-block btn-outline-secondary" disabled>solo los usuarios registrados pueden hacer comentarios</button>
				{% endif %}
			</div>
			{{ form_end(feedbackForm) }}
		</div>

	</section>


{% endblock %}

{% block javascripts %}
	<script>
		hljs.initHighlightingOnLoad();
	</script>
{% endblock %}
