{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('usermenu.html.twig') }}
{% endblock %}
{% block content %}

	<!--CONTINGUT DE LA WEB - ZONA DRETA-->
	<main>

		<div id="fade"></div>
		{% for section in articles %}

			<section id="{{section.slug}}">
				<h1 class="titulo">{{section.titol}}</h1>
				<h3 class="text-secondary">{{section.subtitol}}</h3>
				<div class="text">
					{{section.contingut}}</div>
				<ul>
					<li>Tema:&nbsp;{{section.tema.nom}}</li>
					<li>Autor:&nbsp;{{section.user.email}}</li>
					{# <li>Data Publicacio&nbsp;{{section.data_publicacio|date("d/m/Y")}}</li> #}
					<li>Slug:&nbsp;{{section.tema.nom}}</li>

				</section>
			{% endfor %}

		</main>
	{% endblock %}
