{% extends 'base.html.twig' %}

{% block meta_description %}
	<meta description="Full Stack Nerds d'ultima fornada!! Articles in{{categoria.nom}}">
{% endblock %}

{% block meta_ogg %}
	<!-- Open Graph data -->
	<meta property="og:title" content="
	{% if categoria is defined %}
		Articles de la categoria {{  categoria.nom }}
	{% elseif articles[0].autor is defined%}
		Articles de l'usuari {{ articles[0].autor.nom }}
	{% else %}
		Default image
	{% endif %}
	" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ app.request.uri }}" />
	<meta property="og:image" content="
	{% if categoria is defined %}
		{{ app.request.getSchemeAndHttpHost() }}{{ asset('img/categories/' ~ categoria.logo) }}
	{% elseif articles[0].autor is defined%}
		{{ app.request.getSchemeAndHttpHost() }}{{ asset('img/imatges_perfil/' ~ articles[0].autor.imatge) }}
	{% else %}
		Default image
	{% endif %}
	" />
	<meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere ac ut consequat semper viverra nam libero justo laoreet. At imperdiet dui accumsan sit amet nulla. Fermentum leo vel orci porta non pulvinar neque laoreet." />
	<meta property="og:site_name" content="B-NERD TO DEVELOPE" />
{% endblock %}

{% block title %}
		b-NERDS! in{{categoria.nom}}
{% endblock %}

{% block extrastyes %}
	{% if (categoria.color is defined) and (categoria.color is not empty) %}
		<style>
			nav {
				border-right: 3px solid {{categoria.color}};
			}
			.menu-username,
			.active {
				color: {{categoria.color}}
				!important;
			}
			.menu-bottom a:hover,
			.menu-bottom i:hover {
				color: {{categoria.color}}
				;
			}
			a:hover {
				color: {{categoria.color}}
				;
			}
		</style>
	{% endif %}
{% endblock %}

{% block navbar %}
	{{ include('menu.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<div style="padding-top:15vh">

			{% for article in articles %}

				<h3>
					<a href="{{ asset("post/" ~ article.slug) }}" alt="Veure article {{article.titol}}" alt="Veure article">{{article.titol}}</a>
				</h3>
				<p class="article_subtitol">{{article.resum}}</p>

			{% endfor %}
		</div>

	</section>
{% endblock %}
