{% extends 'base.html.twig' %}
{% block menu_top %}{% endblock %}

{% block navbar %}
	{{ include('menu.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<div style="padding-top:15vh">

			{% for article in articles %}

				<h3>
					<a href="{{ asset("post/" ~ article.slug) }}" alt="Veure article {{article.titol}}" alt="Veure article">{{article.titol}}</a>
				</h3>
				<p class="article_subtitol">{{article.resum}}</p>

			{% endfor %}
		</div>

	</section>
{% endblock %}
