{% extends 'base.html.twig' %}
{% block menu_top %}{% endblock %}

{% block navbar %}
	{{ include('menu.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<div style="padding-top:15vh">

			{% for article in articles %}

				<h3 class="article_titol">
					<a href="{{ asset("post/" ~ article.slug) }}">{{article.titol}}</a>
				</h3>
				<p class="article_subtitol" onclick="mostrar('{{article.titol}}')">{{article.resum}}</p>

			{% endfor %}
		</div>

	</section>
{% endblock %}
