<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Tecnologias utilizadas</h1>
	<div class="doc-text">
		<p>
			Como mencionames anteriormente, con el fin de mostrarloo mas gráfica y visualmente, las tecnologias, herramientas, frameworks o lenguajes de programción que se han requerido para el desarrolo de este proyecto han sido los indicados a continuación
		</p>

		<ul class="doc-cat-list">
			<li>
				<a href="{{ path('articles_categoria', {cat_name: 'HTML'}) }}" alt"enlace a articulos de la categoria html" title="Ver articulos sobre HTML" target="blank">
					<img src="{{ asset("docs/docs-icons/html5-logo.png") }}" class="doc-cat-icon">
				</a>
			</li>
			<li>
				<a href="{{ path('articles_categoria', {cat_name: 'CSS'}) }}" alt"enlace a articulos de la categoria css" title="Ver articulos sobre CSS" target="blank">
					<img src="{{ asset("docs/docs-icons/css3-logo.png") }}" class="doc-cat-icon">
				</a>
			</li>
			<li>
				<a href="{{ path('articles_categoria', {cat_name: 'JS'}) }}" alt"enlace a articulos de la categoria js" title="Ver articulos sobre JS" target="blank">
					<img src="{{ asset("docs/docs-icons/js-logo.png") }}" class="doc-cat-icon">
				</a>
			</li>
			<li>
				<a href="{{ path('articles_categoria', {cat_name: 'TWIG'}) }}" alt"enlace a articulos de la categoria twig" title="Ver articulos sobre TWIG" target="blank">
					<img src="{{ asset("docs/docs-icons/twig-logo.png") }}" class="doc-cat-icon">
				</a>
			</li>

			<li>
				<a href="{{ path('articles_categoria', {cat_name: 'PHP'}) }}" alt"enlace a articulos de la categoria php" title="Ver articulos sobre PHP" target="blank">
					<img src="{{ asset("docs/docs-icons/php-logo.png") }}" class="doc-cat-icon">
				</a>
			</li>
			<li>
				<a href="{{ path('articles_categoria', {cat_name: 'Symfony'}) }}" alt"enlace a articulos de la categoria symfony" title="Ver articulos sobre Symfony" target="blank">
					<img src="{{ asset("docs/docs-icons/symfony-logo.png") }}" class="doc-cat-icon">
				</a>
			</li>
			<li>
				<img src="{{ asset("docs/docs-icons/doctrine-logo.png") }}" class="doc-cat-icon">

			</li>
			<li>
				<a href="{{ path('articles_categoria', {cat_name: 'Apache'}) }}" alt"enlace a articulos de la categoria apache" title="Ver articulos sobre Apache" target="blank">
					<img src="{{ asset("docs/docs-icons/apache-logo.png") }}" class="doc-cat-icon">
				</a>
			</li>
			<li>
				<img src="{{ asset("docs/docs-icons/ssl-logo.png") }}" class="doc-cat-icon">
			</li>

			<li>
				<img src="{{ asset("docs/docs-icons/atlassian-logo.png") }}" class="doc-cat-icon">
			</li>
			<li>
				<img src="{{ asset("docs/docs-icons/basecamp-logo.png") }}" class="doc-cat-icon">
			</li>
			<li>
				<img src="{{ asset("docs/docs-icons/open-graph-logo.png") }}" class="doc-cat-icon">
			</li>
		</ul>
	</div>
</section>
