<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Eso de lo que nos sentimos orgullosos</h1>
	<div class="doc-text">
		<p>
			Somos conscientes de que no hemos inventado nada nuevo y que dentro de unos años lo veremos de distinta manera, pero a día de hoy estamos satisfechos con:
		</p>

		Mobile First (responsive)
		<ul>
			<li>
				Nos marcamos como objetivo de diseño frontend seguir las tendéncias Mobile First. Aunque al final dedicasemos muchas horas y nos retrasase en la planificacón, debido a que todo el CSS y JS es de creación propia.
			</li>
		</ul>
		User Experience UI/UX
		<ul>
			<li>
				Teníamos claro que la UX no es un vanalidad y que si existe es por algo. Procuramos implementar al máximo posible todas sus recomendaciones y creemos que los resultados hablan por si solos.
			</li>
		</ul>
		Dark Mode
		<ul>
			<li>
				Bendita inspiración! Loca propuesta, que surgió a medio proyecto y que pensabamos que sería más complicada. Decidimos probar de implementar y grata sorpresa la que nos llevamos, y que mola mucho.
			</li>
		</ul>
		Comentarios
		<ul>
			<li>
				Este era un punto de nuestro proyecto, muy importante debido a que queriamos que existiese la posiblidad de dar un feedback a los artículos, con la finalidad de que usuarios mas Pro, vía comentarios, pudiesen proporcionar conocimento, correcciones y experiencias, que aportar a nuestro aprendizaje.<br/>
				No obstante, era de difícil implementación, si no gestionabamos de algun modo el acceso total a comentarios por parte de usuarios anónimos y/o bots.<br/>
				A medio proyecto lo decartamos, pero al final lo logramos implementar.
			</li>
		</ul>

		Code Snippet
		<ul>
			<li>
				Todo programador visualiza mejor un fragmento de codigo, si lo ve como lo vería en su IDE. Creíamos que sería de mayor dificultad y con la ayuda de algunas librerías javascript lo conseguimos.
			</li>
		</ul>
		IDE online y demos
		<ul>
			<li>
				Nos interesaba mucho incorporar en el proyecto que un artículo pudiese contener ejemplos de código (html, css y js) que se pudiesen probar online en un editor integrado parecido a w3schools, codepen, jsbin...
				<br/>
				<a href="{{path('article_detall', {slug:'integracion-de-un-ide-(html,-css-y-javascript)'}) }}" target="blank">así lo hicimos</a>
			</li>
		</ul>

		Serialize
		<ul>
			<li>
				Aunque no consegumos implementar un frontend reactivo con VUE para llamadas a una API, si aprendimos y profundizamos en un complemento de Symfony que está preparado y listo para su uso, con el propisto de devolver los articulos en formato JSON para adaptación del backend.
				<br/>
				<a href="{{path('article_detall', {slug:'convertir-entidades-de-symfony-en-json'}) }}" target="blank">así lo hicimos</a>
			</li>
		</ul>

		Open Graph y posicionamiento SEO
		<ul>
			<li>
				Dejamos la estructura web ya prepada con el protocolo OpenGraph para el "rich object share in a sociay media". Además de las meta tags necesarias para la redacción de contenido enfocado a posicionamineto SEO.
				<br/>
				<a href="{{path('article_detall', {slug:'implementacion-de-open-graph-en-el-proyecto'}) }}" target="blank">así lo hicimos</a>
			</li>
		</ul>

		Zona de demos
		<ul>
			<li>
				Conseguimos ajustar la configuración del servidor para la coexistencia de Symfony5 con una carpeta demos ajena a su enrutado.
				<br/>
				<a href="{{path('article_detall', {slug:'coexistir-rutas-del-servidor-con-las-de-symfony'}) }}" target="blank">así lo hicimos</a>
			</li>
		</ul>

		Cuentas de correo
		<ul>
			<li>
				Para evitar el registro indiscriminado de cuentas de usuario "fake" via bots. Resolvimos añadir la popular estraregia de forzar en el registro de usuarios, la validación de estos con un mail de verificación. Para ello se han configurado específicas cuentas de correo "noreply" y aprendimos de la integración de los services en Symofony y el componete SwiftMailer.
				<br/>
				<a href="{{path('article_detall', {slug:'validacion-de-email-con-swiftmailer-en-symfony'}) }}" target="blank">así lo hicimos</a>
			</li>
		</ul>

		Deployment
		<ul>
			<li>
				Ya desde el primer sprint, hicimos deployment de una versión de prueba en la plataforma labs de nuestro centro educativo con la finalidad de estar en todo momento preparados para los posibles problemes del despliegue en un entorno de producción real.
				<br/>
				<a href="{{path('article_detall', {slug:'despliegue-completo-de-symfony-en-el-servidor'}) }}" target="blank">así lo hicimos</a>
			</li>
		</ul>

		Certificado SSL
		<ul>
			<li>
				Siguiendo la tendencia actual, hacia el encriptado de toda comunicación TIC, era relevante para nosotros, que si el producto final, salia a mercado y por lo tanto se hacía publico y visble a todo nerd, debía hacerse con un certificado SSL.
				<br/>
				<a href="{{path('article_detall', {slug:'generar-certificado-ssl-gratuito'}) }}" target="blank">así lo hicimos</a>
			</li>
		</ul>

	</div>
</section>
