<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Pitch y presentación</h1>
	<div class="doc-text">
		<p>
			Ver
			<a href="{{ asset('docs/files/presentacion_resumen_es.odp') }}" alt"ver presentación resumen" target="blank">presentación resumen (ES)</a><br/>
			See
			<a href="{{ asset('docs/files/presentacion_resumen_en.odp') }}" alt"see our summary presentation" target="blank">our summary presentation (EN)</a>
		</p>

		<video width="100%" poster="{{ asset('docs/docs-img/video_pitch_preview.jpg') }}" controls>
			<source src="{{ asset('docs/files/video_pitch_hd.mp4') }}" type="video/mp4">
			Your browser does not support HTML video.</video>
	</p>
</div></section>
