<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Prototipos iniciales de diseño</h1>
	<div class="doc-text">
		<p>
			Elejimos una linia de diseño sencilla y minimalista, sin exceso de elementos no funcionales que distrajeran la atención del usuario.<br>
			Preferimos algo simple, donde destacasen los elementos importantes. Basandones en UX, elegimos un menu de navegación siempre visible pero con un toque personal que nos diferenciase de la mayoria de diseños web<br/>
			Realizamos 3 prototipos de wireframe sobre los que ir estructurando el HTML y CSS de base
		</p>
		<ul>
			<li>Páginas de contenido texto</li>
			<li>Páginas de tipo formulario</li>
			<li>Dos propuestas diferentes de página con los iconos de las categorias</li>
		</ul>
		<img src="{{ asset("img/docs/wireframe_1.png") }}" class="doc-img">
		<img src="{{ asset("img/docs/wireframe_4.png") }}" class="doc-img">

		<img src="{{ asset("img/docs/wireframe_2.png") }}" class="doc-img">
		<img src="{{ asset("img/docs/wireframe_3.png") }}" class="doc-img">
		<p>
			En el transcuros del proyecto, como era de esperar fueron surgiendo esos pequeños detalles que consideramos diferenciadores y que queriamos implementado para dentro de lo simple, mostrar nuestras habilidades en javascript para el dinamismo del frontend con efectos no recargados pero si visualmente atractivos
		</p>
		<ul>
			<li>Que el boton de login, imagen de usuario o datos del autor de un articulo, ocupasen el mismo sito en la web y se desplazase con el scroll</li>
			<li>Que el menu se desplegase en Responsive y los elementos bambiase de color con el scroll segun el section sobre el que se estubiese</li>
			<li>Que los formularios no mostrasen la ayuda ni los errores de inicio, sino on focusin focusout y keyup</li>
			<li>Somos programadores.... y no hay programador al que no le guste jugar con los temas oscuros de los IDE, asi que añadimos el detallito del Dark Mode por divertimento</li>
		</ul>
	</div>
</section>
