<ul class="menu-user" style="bottom:58vh">
	<li>
		<a class="menu-link logout-link" href="{{ path('homepage')}}" alt="Enllaç a formulari de login">
			b-Nerds!
		</a>
	</li>
</ul>

<ul class="menu-bottom">
	{% for section in sections %}
		<li>
			{% if loop.first %}
				<a class="menu-link scrollable active" href="#{{section.linkslug}}" alt="{{section.linkalt}}">{{section.linkname}}</a>
			{% else %}
				<a class="menu-link scrollable" href="#{{section.linkslug}}" alt="{{section.linkalt}}">{{section.linkname}}</a>
			{% endif %}
		</li>

	{% endfor %}

	<li id="hamburgesa">
		<i class="menu-icon fa fa-bars" alt="Desplegar el menu de navegació"></i>
	</li>
	<li id="dark-mode">
		<i class="menu-icon fa fa-toggle-off" alt="Botó per activar o desactivar el tema fosc"></i>
	</li>

</ul>
