<ul class="menu-user" style="bottom:80vh">
	<li>
		<a class="menu-link logout-link" href="{{ path('homepage')}}" alt="enlace a la p치gina web" title="Volver a la p치gina web">
			b-Nerds!
		</a>
	</li>
</ul>

<ul class="menu-bottom">
	{% for section in sections %}
		<li>
			{% if loop.first %}
				<a class="menu-link scrollable active" href="#{{section.linkslug}}" alt="{{section.linkalt}}">{{section.linkname}}</a>
			{% else %}
				<a class="menu-link scrollable" href="#{{section.linkslug}}" alt="{{section.linkalt}}">{{section.linkname}}</a>
			{% endif %}
		</li>

	{% endfor %}

	<li id="hamburgesa">
		<i class="menu-icon fa fa-bars" alt="ver menu de navegaci칩"></i>
	</li>
	<li id="dark-mode">
		<i class="menu-icon fa fa-toggle-off" alt="bot칩n para activar o desactivar el tema oscuro"></i>
	</li>

</ul>
