{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('menu.html.twig') }}
{% endblock %}

{% block content %}

	<section id="menu_item_section_name_4">
		<h1 class="titulo">
			Modifica la contrasenya
		</h1>
		{% if error is defined %}
			<p id="error-msg">{{error}}<p>
		{% endif %}
		{{ form_start(changePasswordForm) }}
		<div class="form-group form-row">
			<div class="col-md-6">
				{{ form_label(changePasswordForm.oldPassword) }}
				{{ form_widget(changePasswordForm.oldPassword, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group form-row">
			<div class="col-md-6">
				{{ form_label(changePasswordForm.newPassword) }}
				{{ form_widget(changePasswordForm.newPassword, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group form-row">
			<div class="col-md-6">
				{{ form_label(changePasswordForm.repitNewPassword) }}
				{{ form_widget(changePasswordForm.repitNewPassword, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		
		<br/>
		{{ form_widget(changePasswordForm.save) }}
		<button class="btn btn-outline-info" type="button" onclick="location.href='{{ path('userProfileEdit') }}'">Cancel·la</button>
		{{ form_end(changePasswordForm) }}
	</section>
{% endblock %}
