{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('menu_all.html.twig') }}
{% endblock %}

{% block content %}

	<section id="menu_item_section_name_4">
		<h1 class="titulo">
			Edita
		</h1>
		<p id="error-msg">
			{% if error is defined %}
				{{ error }}
			{% endif %}
		</p>
		{{ form_start(editForm) }}

		<div class="form-group form-row">
			<div class="col-md-6">
				{{ form_label(editForm.nom) }}
				{{ form_widget(editForm.nom, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-md-6">
				{{ form_label(editForm.cognom) }}
				{{ form_widget(editForm.cognom, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(editForm.email) }}
			{{ form_widget(editForm.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(editForm.nom_usuari) }}
			{{ form_widget(editForm.nom_usuari, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			<button onclick="location.href='{{ path('userChangePassword') }}'" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Canvia la contrasenya
			</button>
		</div>
		<div class="form-group">
			{{ form_label(editForm.imatge) }}
			{{ form_widget(editForm.imatge, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(editForm.imatge) }}
		</div>
		<div
			class="form-group">
			{# HAURIEM DE CREAR UN DATE PICKER #}
			{{ form_label(editForm.data_naixament) }}
			{{ form_widget(editForm.data_naixament, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(editForm.genere) }}
			{{ form_widget(editForm.genere, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(editForm.codi_postal) }}
			{{ form_widget(editForm.codi_postal, {'attr': {'class': 'form-control'}}) }}
		</div>
		<h2>Xarxes Socials</h2>
		<div class="form-group">
			{{ form_label(editForm.github) }}
			{{ form_widget(editForm.github, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(editForm.linkedin) }}
			{{ form_widget(editForm.linkedin, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(editForm.twitter) }}
			{{ form_widget(editForm.twitter, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(editForm.facebook) }}
			{{ form_widget(editForm.facebook, {'attr': {'class': 'form-control'}}) }}
		</div>
		<br/>

		<button class="btn btn-outline-info">Desa</button>
		<button class="btn btn-outline-info" type="button" onclick="location.href='{{ path('userProfile') }}'">Cancel·la</button>
		{{ form_end(editForm) }}
	</section>
{% endblock %}
