{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('menu.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">
			Editar perfil
		</h1>
		<div class="form-alert-errors">
			{{ form_errors(editForm.nom) }}
			{{ form_errors(editForm.cognom) }}
			{{ form_errors(editForm.email) }}
			{{ form_errors(editForm.nom_usuari) }}
			{{ form_errors(editForm.imatge) }}
			{{ form_errors(editForm.descripcio) }}
		</div>

		{{ form_start(editForm) }}

		<div class="form-group form-row">
			<div class="col-md-6">
				{{ form_label(editForm.nom) }}
				{{ form_widget(editForm.nom) }}
				<p class="help-text"></p>
				<p class="form-error-text"></p>
			</div>
			<div class="col-md-6">
				{{ form_label(editForm.cognom) }}
				{{ form_widget(editForm.cognom) }}
				<p class="help-text"></p>
				<p class="form-error-text"></p>
			</div>
		</div>

		<div class="form-group form-row">
			<div class="col-md-6">
				{{ form_label(editForm.email) }}
				{{ form_widget(editForm.email) }}
				{{ form_help(editForm.email) }}
				<p class="form-error-text"></p>
			</div>
			<div class="col-md-6">
				{{ form_label(editForm.nom_usuari) }}
				{{ form_widget(editForm.nom_usuari) }}
				{{ form_help(editForm.nom_usuari) }}
				<p class="form-error-text"></p>
			</div>
		</div>

		<div class="form-group form-row">
			<div class="col-lg-9">
				<label for="user_imatge">Imatge del perfil</label>
				<div class="input-group">
					<div class="custom-file">
						{{ form_widget(editForm.imatge) }}
						{{ form_label(editForm.imatge) }}
					</div>
				</div>
				<p class="form-error-text"></p>
			</div>
			<div class="col-lg-3 ">
				<button onclick="location.href='{{ path('userChangePassword') }}'" type="button" class="btn btn-light">
					Cambiar la contraseña
				</button>
			</div>
		</div>


		<div class="form-group">
			{{ form_label(editForm.descripcio) }}
			{{ form_widget(editForm.descripcio) }}
			{{ form_help(editForm.descripcio) }}
			<p class="form-error-text"></p>
		</div>


		<h2>Redes Sociales</h2>
		<div class="form-group">
			{{ form_label(editForm.github) }}
			{{ form_widget(editForm.github) }}
			{{ form_help(editForm.github) }}
			<p class="form-error-text"></p>
		</div>
		<div class="form-group">
			{{ form_label(editForm.linkedin) }}
			{{ form_widget(editForm.linkedin) }}
			{{ form_help(editForm.linkedin) }}
			<p class="form-error-text"></p>
		</div>
		<div class="form-group">
			{{ form_label(editForm.twitter) }}
			{{ form_widget(editForm.twitter) }}
			{{ form_help(editForm.twitter) }}
			<p class="form-error-text"></p>
		</div>
		<div class="form-group">
			{{ form_label(editForm.facebook) }}
			{{ form_widget(editForm.facebook) }}
			{{ form_help(editForm.facebook) }}
			<p class="form-error-text"></p>
		</div>

		<div class="form-group">
			{{ form_label(editForm.data_naixament) }}
			{{ form_widget(editForm.data_naixament) }}
			{{ form_help(editForm.data_naixament) }}
			<p class="form-error-text"></p>
		</div>

		<button class="btn btn-outline-secondary">Guardar</button>
		<button class="btn btn-outline-secondary" type="button" onclick="location.href='{{ path('userProfile', {username: app.user.username}) }}'">Cancelar</button>
		{{ form_end(editForm) }}
	</section>
{% endblock %}
