{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('usermenu.html.twig') }}
{% endblock %}

{% block content %}
	<!--CONTINGUT DE LA WEB - ZONA DRETA-->
<main>
    <section id="menu_item_section_name_4">
        <div class="row" id="profile-content">
            <div class="col-4 text-center">
                <img src="/img/imatges_perfil/{{ user.imatge }}" alt="imatge de perfil" id="profile-img">
            </div>
            <div class="col-7">
                <h2>{{ user.nom }} {{ user.cognom }} <span id="profile-username">{{ user.username }}</span></h2>
                <p>{{ user.email }}</p>
                {% if user.genere == 'masc' %}
                    <i class="fa fa-mars"></i>
                {% elseif user.genere == 'fem' %}
                    <i class="fa fa-venus"></i>
                {% endif %}
                {% if user.getEdat() %}
                    <p>{{ user.getEdat() }}</span> anys</p>
                {% endif %}
                {% if user.github %}
                    <a href="{{ user.github }}" target="_blank"><i class="fa fa-github-square"></i></a>
                {% endif %}
                {% if user.linkedin %}
                    <a href="{{ user.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                {% endif %}
                {% if user.twitter %}
                    <a href="{{ user.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i></a>
                {% endif %}
                {% if user.facebook %}
                    <a href="{{ user.facebook }}" target="_blank"><i class="fa fa-facebook-square"></i></a>
                {% endif %}
            </div>
            <div class="col-1">
            {% if user.username == app.user.username %}
            <button onclick="location.href='{{ path('userProfileEdit') }}'" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Edita
            </button>
            {% else %}
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog fa-white"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
        <hr>
            <div class="col-12 profile-box">
                <h2><strong>5</strong></h2>                    
                <p><small>Articles</small></p>
                <i class="fa fa-thumbs-up"> 50</i>
                <i class="fa fa-thumbs-down"> 10</i>
            </div>
            </br>
            <div class="col-12 profile-box">
                <h2><strong> 30K </strong></h2>                    
                <p><small>Comentaris</small></p>
                <i class="fa fa-thumbs-up"> 50</i>
                <i class="fa fa-thumbs-down"> 10</i>
            </div>
    </section>
</main>
{% endblock %}
