{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('menu.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<div class="row">
			<div class="col-md-6">
				<h1 class="titulo">{{user.username}}</h1>
				<p>
					{{ user.nom }}
					{{ user.cognom }}</p>


				{% if user.github is defined and (user.github is not empty)%}
					<a class="menu-username" href="https://www.github.com/{{ user.github }}" target="_blank">
						<i class="socialmedia-icon fa fa-github-square"></i>&nbsp;{{user.github}}
					</a>
				{% endif %}
				<br/>
				{% if user.linkedin is defined and (user.linkedin is not empty)%}
					<a class="menu-username" href="https://www.linkedin.com/{{ user.linkedin }}" target="_blank">
						<i class="socialmedia-icon fa fa-linkedin-square"></i>&nbsp;{{user.linkedin}}
					</a>
				{% endif %}

			</div>
			<div class="col-md-6">
				{% if user.imatge %}
					{# HE CAMBIAT AQUESTA LINIA AFEGINT L'ASSET #}
					<img src="{{ asset("img/imatges_perfil/" ~ user.imatge) }}" alt="imatge de perfil" class="profile-image">
				{% else %}
					<img src="{{ asset("img/imatges_perfil/default.jpg") }}" alt="imatge de perfil" class="profile-image">
				{% endif %}
			</div>
		</div>

		<div class="text">{{ user.descripcio|raw }}
			<p>{{user.username}}
				es usuari registrat desde
				{{user.dataregistre|date('M\'y')}} i ha participat amb {{user.articles|length}} articles
</p>
	</div>
			{# {% for cat in user.articles.categoria %}
				<li>
					<a href="{{ path('articles_categoria', {cat_name: cat.nom}) }}" alt"enllaç a articles de la categoria {{cat.nom}}" title="Veure articles de {{cat.nom}}">
						<img src="{{ asset("img/categories/" ~ cat.logo) }}" alt="{{cat.nom}} icon" class="cat-icon">
						<span class="badge badge-secondary cat-length">{{cat.articles|length }}</span>
					</a>
				</li>
			{% endfor %} #}
</section>
<section>
	<div class="row d-flex flex-wrap" id="profile-content">
		<div class="col-md-5 col-sm-7 col-xs-12 text-center">
			{% if user.imatge %}
				{# HE CAMBIAT AQUESTA LINIA AFEGINT L'ASSET #}
				<img src="{{ asset("img/imatges_perfil/" ~ user.imatge) }}" alt="imatge de perfil" class="profile-img">
			{% else %}
				<img src="{{ asset("img/imatges_perfil/default.jpg") }}" alt="imatge de perfil" class="profile-img">
			{% endif %}
		</div>
		<div class="col-md-6 col-sm-5 col-xs-12">
			<h2>{{ user.nom }}
				{{ user.cognom }}
				<span id="profile-username">{{ user.username }}</span>
			</p>
		</h2>
		{# DEFINIR ESTRUCTURA #}
		<p>{{ user.email }}</p>

		{% if user.getEdat() %}
			<p>{{ user.getEdat() }}
				anys</p>
		{% endif %}
		{% if user.github or user.linkedin or user.twitter or user.facebook %}
			<div id="xxss">
				{% if user.github %}
					{% set urlGithub = user.github | slice(0,4) == 'http' ? user.github : 'http://' ~ user.github %}
					<a href="{{ urlGithub }}" target="_blank">
						<i class="fa fa-github-square"></i>
					</a>
				{% endif %}
				{% if user.linkedin %}
					{% set urlLinkedin = user.linkedin | slice(0,4) == 'http' ? user.linkedin : 'http://' ~ user.linkedin %}
					<a href="{{ urlLinkedin }}" target="_blank">
						<i class="fa fa-linkedin-square"></i>
					</a>
				{% endif %}
				{% if user.twitter %}
					{% set urlTwitter = user.twitter | slice(0,4) == 'http' ? user.twitter : 'http://' ~ user.twitter %}
					<a href="{{ urlTwitter }}" target="_blank">
						<i class="fa fa-twitter-square"></i>
					</a>
				{% endif %}
				{% if user.facebook %}
					{% set urlFacebook = user.facebook | slice(0,4) == 'http' ? user.facebook : 'http://' ~ user.facebook %}
					<a href="{{ urlFacebook }}" target="_blank">
						<i class="fa fa-facebook-square"></i>
					</a>
				{% endif %}
			</div>
		{% endif %}

	</div>

	<div class="col-md-1 col-sm-12">
		{% if app.user and user.username == app.user.username %}
			<button onclick="location.href='{{ path('userProfileEdit') }}'" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Edita
			</button>
		{% endif %}
	</div>
</div><hr><div id="profile-description">
	<h4>Descripció</h4>
	<hr>
	{% if user.descripcio %}
		<p>{{ user.descripcio }}</p>
	{% else %}
		<p>
			<i>L'usuari encara no ha afegit cap descripció.</i>
		</p>
	{% endif %}
</div>
<div class="col-12 profile-box">
	<h2>
		<strong>{{ user.articles|length }}</strong>
	</h2>
	<p>
		<small>Articles</small>
	</p>
	<i class="fa fa-thumbs-up">
		50</i>
	<i class="fa fa-thumbs-down">
		10</i>
</div><br/><div class="col-12 profile-box">
	<h2>
		<strong>
			{{ user.comentaris|length }}
		</strong>
	</h2>
	<p>
		<small>Comentaris</small>
	</p>
	<i class="fa fa-thumbs-up">
		50</i>
	<i class="fa fa-thumbs-down">
		10</i>
</div></section>{% endblock %}
