{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('usermenu.html.twig') }}
{% endblock %}

{% block content %}
	<!--CONTINGUT DE LA WEB - ZONA DRETA-->
	<main>
		<div id="fade"></div>
		<section id="menu_item_section_name_4">
			<h1 class="titulo">
				Formulari d'alta nou usuari
			</h1>
			{{ form_start(registrationForm) }}

			<div class="form-row">
				<div class="form-group col-md-6">
					{{ form_label(registrationForm.nom, 'Nom *') }}
					{{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group col-md-6">
					{{ form_label(registrationForm.cognom, 'Cognom *') }}
					{{ form_widget(registrationForm.cognom, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.email, 'Email *') }}
				{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					{{ form_label(registrationForm.nom_usuari, "Nom d'usuari *") }}
					{{ form_widget(registrationForm.nom_usuari, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group col-md-6">
				{{ form_label(registrationForm.plainPassword, 'Contrasenya *') }}
				{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.codi_postal, 'Codi Postal') }}
				{{ form_widget(registrationForm.codi_postal, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.imatge, 'Imatge de perfil') }}
				{{ form_widget(registrationForm.imatge, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{# HAURIEM DE CREAR UN DATE PICKER #}
				{{ form_label(registrationForm.data_naixament, 'Data de naixament') }}
				{{ form_widget(registrationForm.data_naixament, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.genere, 'Génere') }}
				{{ form_widget(registrationForm.genere, {'attr': {'class': 'custom-select'}}) }}
			</div>
			{# <div class="form-group">
				{{ form_label(registrationForm.roles) }}
				{{ form_widget(registrationForm.roles, {'attr': {'class': 'form-control'}}) }}
			</div> #}
			{{ form_widget(registrationForm.agreeTerms) }}
			{{ form_label(registrationForm.agreeTerms) }}
			<br/>

			<button class="btn btn-outline-info">Register</button>
			{{ form_end(registrationForm) }}
		</section>
	</main>
{% endblock %}
