{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('menu.html.twig') }}
{% endblock %}

{% block content %}
	<section>
		<h1 class="titulo">
			Formulari d'alta nou usuari
		</h1>
		{{ form_start(registrationForm) }}
		

		<div class="form-row">
			<div class="form-group col-md-6">
				{{ form_label(registrationForm.nom, 'Nom *') }}
				{{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group col-md-6">
				{{ form_label(registrationForm.cognom, 'Cognom *') }}
				{{ form_widget(registrationForm.cognom, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.email, 'Email *') }}
			{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				{{ form_label(registrationForm.nom_usuari, "Nom d'usuari *") }}
				{{ form_widget(registrationForm.nom_usuari, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group col-md-6">
				{{ form_label(registrationForm.plainPassword, 'Contrasenya *') }}
				{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		{# HE TORNAT A AGEFIR AQUEST CAMP AL FORMULARI JA QUE SINO EL FORM PETAVA #}
		<div class="form-group">
			{{ form_label(registrationForm.imatge, 'Imatge de perfil') }}
			{{ form_widget(registrationForm.imatge, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div
			class="form-group">
			{# HAURIEM DE CREAR UN DATE PICKER #}
			{{ form_label(registrationForm.data_naixament, 'Data de naixament') }}
			{{ form_widget(registrationForm.data_naixament, {'attr': {'class': 'form-control'}}) }}
		</div>
		{# <div class="form-group">
						{{ form_label(registrationForm.roles) }}
						{{ form_widget(registrationForm.roles, {'attr': {'class': 'form-control'}}) }}
					</div> #}
		{{ form_widget(registrationForm.agreeTerms) }}
		<label for="{{ registrationForm.agreeTerms.vars.id }}">Accepto els
			<a target="_blank" alt="Enllaç a termes i condicions" href="https://www.rocketlawyer.com/es/es/sem/condiciones-generales-de-venta-de-bienes-o-servicios-en-internet?gclid=CjwKCAjw7-P1BRA2EiwAXoPWAzOX8S3UChlVLnffxHLx4KZ-t448B4BqRfwQuCF3WJSpFVgHr3aa-BoCNM4QAvD_BwE">termes i condicions</a>
		</label>
		<br/>

		<button class="btn btn-outline-info">Register</button>
		{{ form_end(registrationForm) }}
	</section>
{% endblock %}
