{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">Editar Artículo</h1>

		{{ form_start(adminEditarArticle) }}
		<div class="form-group form-row">

			<div class="col-md-6">
				{{ form_label(adminEditarArticle.data_publicacio) }}
				{{ form_widget(adminEditarArticle.data_publicacio) }}
			</div>
			<div class="col-md-6">
				{{ form_label(adminEditarArticle.data_actualitzacio) }}
				{{ form_widget(adminEditarArticle.data_actualitzacio) }}
			</div>
		</div>
		<div class="form-group form-row">
			<div class="col-md-6">

				{{ form_label(adminEditarArticle.autor) }}
				{{ form_widget(adminEditarArticle.autor) }}
			</div>
			<div class="col-md-6">
				{{ form_label(adminEditarArticle.visible) }}
				{{ form_widget(adminEditarArticle.visible) }}
			</div>
		</div>
		<button type="submit" class="btn btn-outline-secondary" alt="Confirmar actualitzación de datos">guardar</button>
		<a class="btn btn-outline-secondary" href="{{ path('article_detall', {slug: article.slug}) }}" alt="enlace a la página del artículo" target="blank">Ver artícul</button>
		<a class="btn btn-outline-secondary" href="{{ path('adminArticles') }}"  alt="Volver al administrador de artículos">Cancelar</button>

		{{ form_end(adminEditarArticle) }}

	</section>

{% endblock %}
