{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section class="onepage">
		<h1>Editar Categoria</h1>

		{{ form_start(adminEditarComentari) }}
		<div class="form-group">
			{{ form_label(adminEditarComentari.tipus) }}
			{{ form_widget(adminEditarComentari.tipus) }}
		</div>
		<div class="form-group">
			{{ form_label(adminEditarComentari.text) }}
			{{ form_widget(adminEditarComentari.text) }}
		</div>
		<div class="form-group">
			{{ form_label(adminEditarComentari.visible) }}
			{{ form_widget(adminEditarComentari.visible) }}
		</div>
		<div class="form-group">
			{{ form_label(adminEditarComentari.dataPublicacio) }}
			{{ form_widget(adminEditarComentari.dataPublicacio) }}
		</div>
		<button class="btn btn-block btn-outline-secondary">{{ button_label|default('guardar canvis') }}</button>
		{{ form_end(adminEditarComentari) }}
	</section>

{% endblock %}
