{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">Llista de categories actuals</h1>

		<div class="cat-admin">

			{% for cat in categories %}
				{% if cat.nom != "afegir nova categoria" %}

					<div class="cat-item">

						<img src="/img/categories/{{ asset(cat.logo) }}" class="categoria_icon" alt="{{cat.nom}} logotip">

						<div class="cat-admin-info">
							{{cat.nom}}
							<a href="{{ path('editarCategoria', {id: cat.id}) }}" alt"editar categoria">
								<i class="fa fa-cog"></i>
							</a><br/>

							{{cat.articles|length}}
							Articles publicats
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>


	</section>

{% endblock %}
