{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">Llista d'articles</h1>

		<div class="accordion" id="accordionExample">

			{% for article in articles %}

				<div class="card">
					{% if article.visible %}
						<div class="card-header">
						{% else %}
							<div class="card-header alert-warning">
							{% endif %}
							<div class="row no-gutters">
								<div class="col-md-8">

									<h5 class="card-title" data-toggle="collapse" data-target="#article_{{article.id}}">
										{{article.titol }}</h5>
								</div>
								<div class="col-md-4 text-right">
									{% for cat in article.categories %}
										<a href="{{ path('adminArticlesCategoria', {id: cat.id}) }}" alt="llistar articles de la categoria {{cat.nom}}" title="llistar articles de la categoria {{cat.nom}}">
											<img src="/img/categories/{{ asset(cat.logo) }}" class="cat-article-icon" alt="Logotip del la categoria {{cat.nom}}"></a>
									{% endfor %}
									<a href="{{ asset("post/" ~ article.slug) }}" alt="Veure article {{article.titol}}" alt="Veure article">
									{% if article.visible %}
										<i class="admin-icons fa fa-eye-slash"></i></a>
									{% else %}
										<i class="admin-icons fa fa-eye"></i></a>
									{% endif %}
									<a href="{{ path('adminEditarArticle', {id: article.id}) }}" alt="Administrar article" title="Administrar article">
										<i class="admin-icons fa fa-cog"></i>
									</a>
								</div>

							</div>
						</div>
						<div class="card-body collapse" id="article_{{article.id}}" data-parent="#accordionExample">

							<p class="card-text">{{article.resum}}
								<hr>
								Creada el {{article.dataPublicacio|date('d/m/Y')}}
								 per <a href="{{ path('userProfile', {username: article.autor.username}) }}" alt="Veure perfil de {{article.autor.username}}" title="Veure perfil de {{article.autor.username}}">
								{{article.autor.username}}</a>
								 (<a href="{{path('articlesAutor', {username:article.autor.username}) }}" 
								 alt="Enllaç a llista d'articles de {{article.autor.username}}" 
								 title="Veure articles de {{article.autor.username}}">{{article.autor.articles|length}} articles</a>)
							</p>

							{% if article.dataActualitzacio != null %}
								<p class="card-text">
									Darrera modificació:
									{{article.dataActualitzacio|date('d/m/Y')}}
								</p>
							{% endif %}

							{% if article.comentaris|length != 0 %}
								<hr>
								{% for comment in article.comentaris %}
									<p class="admin-comments">
										{% if comment.tipus == 0 %}
											<i class="fa fa-frown-o"></i>
										{% elseif comment.tipus == 1 %}
											<i class="fa fa-meh-o"></i>
										{% elseif comment.tipus == 2 %}
											<i class="fa fa-smile-o"></i>
										{% elseif comment.tipus == 3 %}
											<i class="fa fa-rocket"></i>
										{% endif %}
										{{comment.user.username}}
										{{comment.dataPublicacio|date('d/m/Y')}}
										{{comment.visible}}
										<i class="fa fa-cog"></i><br/>
										"{{comment.text}}"
									</p>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>

		</section>
	{% endblock %}
