{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">Llista de usuaris</h1>

		<div class="accordion" id="accordionExample">

			<table class="table alert-light">
				<tr>
					<td style="min-width:10em;">username</td>
					<td>nom</td>
					<td>registre</td>
					<td>ultimlogin</td>
					<td style="width:3em;">
						<i class="fa fa-book"></i>
					</td>
					<td style="width:3em;">
						<i class="fa fa-commenting-o"></i>
					</td>
					{# <td style="width:6em;"></td> #}
				</tr>
				{% for usuari in usuaris %}

					{% if 'ROLE_ADMIN' in usuari.roles %}
						<tr class="alert-primary">

						{% elseif 'ROLE_VALIDATED' in usuari.roles %}
							<tr class="alert-success">

							{% elseif 'ROLE_USER' in usuari.roles %}

								<tr class="alert-warning">
								{% endif %}
								<td>
									<div data-toggle="collapse" data-target="#usuari_{{usuari.id}}" style="cursor:pointer;">
										<i class="fa fa-arrow-circle-down"></i>&nbsp;{{usuari.username}}
									</div>
								</td>
								<td>
									{{usuari.nom}}&nbsp;{{usuari.cognom}}
								</td>
								<td>
									{{usuari.dataregistre|date('d/m/Y')}}
								</td>
								<td>
									{{usuari.ultimlogin|date('d/m/Y')}}
								</td>
								<td>
									<a href="{{path('articlesAutor', {username:usuari.username}) }}" alt="Enllaç a la llista d'articles de {{usuari.username}}" title="Veure articles de {{usuari.username}}">
										{{usuari.articles|length}}</a>
								</td>
								<td>
									<a href="{{path('adminComentarisUsuari', {username:usuari.username}) }}" alt="Enllaç a la llista de comentaris de de {{usuari.username}}" title="Veure comentaris de {{usuari.username}}">
										{{usuari.comentaris|length}}</a>
								</td>
								{# <td>
									<a href="{{ path('userProfile', {username: usuari.username}) }}" alt="Veure perfil de {{usuari.username}}" title="Veure perfil de {{usuari.username}}">
										<i class="admin-icons fa fa-eye"></i>
									</a>
									<a href="{{path('adminEditarUsuari', {id:usuari.id}) }}" alt="Editar l'usuari {{usuari.username}}" title="Administrar l'usuari {{usuari.username}}">
										<i class="admin-icons fa fa-cog"></i>
									</a>
								</td> #}
							</td>
						</tr>
						<tr class="alert-light collapse" id="usuari_{{usuari.id}}" data-parent="#accordionExample">
							<td colspan="2">
								<p>
									{{usuari.email}}<br/>
									{% if usuari.github != null %}
										<i class="fa fa-github"></i>
										{{usuari.github}}<br/>
									{% endif %}
									{% if usuari.linkedin != null %}
										<i class="fa fa-linkedin"></i>
										{{usuari.linkedin}}<br/>
									{% endif %}
									{% if usuari.twitter != null %}
										<i class="fa fa-twitter"></i>
										{{usuari.twitter}}<br/>
									{% endif %}
									{% if usuari.facebook != null %}
										<i class="fa fa-facebook"></i>
										{{usuari.facebook}}<br/>
									{% endif %}
									</p>
									<p>
									<a href="{{ path('userProfile', {username: usuari.username}) }}" alt="Veure perfil de {{usuari.username}}" title="Veure perfil de {{usuari.username}}">
										<i class="fa fa-eye"></i> veure perfil
									</a><br/>
									<a href="{{path('adminEditarUsuari', {id:usuari.id}) }}" alt="Editar l'usuari {{usuari.username}}" title="Administrar l'usuari {{usuari.username}}">
										<i class=" fa fa-pencil-square-o"></i> administrar
									</a>
								</p>
							</td>
							<td colspan="4">{{usuari.descripcio|raw}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</section>
	{% endblock %}
