{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">Llista de categories actuals</h1>

		<div class="cat-admin">

			{% for cat in categories %}
				{% if cat.nom != "afegir nova categoria" %}

					<div class="cat-item">

						<img src="/img/categories{{ asset(cat.logo) }}" class="categoria_icon" alt="Logotip de la categoria {{cat.nom}}">

						<div class="cat-admin-info">
							{{cat.nom}}
							<a href="{{ path('adminEditarCategoria', {id: cat.id}) }}" alt"editar categoria" title="Editar categoria">
								<i class="fa fa-cog"></i>
							</a><br>
							<a href="{{ path('adminEliminarCategoria', {id: cat.id}) }}" alt"eliminar categoria" title="Eliminar categoria">
								<i class="fa fa-trash-o"></i>
							</a>
							<br/>

							{{cat.articles|length}}
							Articles publicats
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<a href="{{path('adminAfegirCategoria')}}" alt="Afegir nova categoria">Afegir nova categoria</a>

	</section>

{% endblock %}
