{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">Listado de comentarios</h1>


		{% for comment in comentaris %}

			<p class="admin-comments">

				{% if comment.tipus == 0 %}
					<i class="fa fa-frown-o"></i>
				{% elseif comment.tipus == 1 %}
					<i class="fa fa-meh-o"></i>
				{% elseif comment.tipus == 2 %}
					<i class="fa fa-smile-o"></i>
				{% elseif comment.tipus == 3 %}
					<i class="fa fa-rocket"></i>
				{% endif %}
				{{comment.user.username}} el {{comment.dataPublicacio|date('d/m/Y')}} a <a href="{{path('article_detall',{slug:comment.article.slug}) }}" alt="ver artículo {{comment.article.titol}}" title="Ver artículo" target="blank">{{comment.article.titol}}</a><br/>
				"{{comment.text}}"<br/>
					{% if comment.visible %}
						✔ Este comentario es visible en el artículo (<a href="{{path('adminPublicarComentari', {id:comment.id}) }}" alt="Publicar comentario">ocultar</a>
						{% else %}
						✖ Comentario no visible en el artículo (<a href="{{path('adminPublicarComentari', {id:comment.id}) }}" alt="Amagar comentari">publicar</a>
					{% endif %}
				, <a href="{{path('adminEditarComentari', {id:comment.id}) }}" alt="Moderar comentario">moderar</a>
				 o <a href="{{path('adminEliminarComentari', {id:comment.id, autor:comment.user.username}) }}" alt="Eliminar comentario">eliminar</a>
				 comentario)
			</p>

		{% endfor %}

	</section>
{% endblock %}
