{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">Listado de categorias actuals</h1>

		<div class="cat-admin">

			{% for cat in categories %}
				{% if cat.nom != "afegir nova categoria" %}

					<div class="cat-item">

						<img src="{{ asset("img/categories/" ~ cat.logo) }}" class="categoria_icon" alt="Logotipo de la categoría {{cat.nom}}">

						<div class="cat-admin-info">
							{{cat.nom}}
							<a href="{{ path('adminEditarCategoria', {id: cat.id}) }}" alt"editar categoría" title="Editar categoría">
								<i class="fa fa-cog"></i>
							</a><br>
							<a href="{{ path('adminEliminarCategoria', {id: cat.id}) }}" alt"eliminar categoría" title="Eliminar categoría">
								<i class="fa fa-trash-o"></i>
							</a>
							<br/>

							{{cat.articles|length}}
							Articlulos publicados
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<a href="{{path('adminAfegirCategoria')}}" alt="añadir nueva categoría">Añadir nueva categoría</a>

	</section>

{% endblock %}
