{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">Llista de usuaris</h1>


		<table class="table-sm">
			<tr>
				<td>username</td>
				<td>nom</td>
				<td>email</td>
				<td>registre</td>
				<td>ultimlogin</td>
				<td><i class="fa fa-github"></i></td>
				<td><i class="fa fa-linkedin"></i></td>
				<td><i class="fa fa-twitter"></i></td>
				<td><i class="fa fa-facebook"></i></td>
				<td><i class="fa fa-book"></i></td>
				<td><i class="fa fa-commenting-o"></i></td>
				<td></td>
			</tr>
			{% for usuari in usuaris %}

				{% if 'ROLE_ADMIN' in usuari.roles %}
					<tr class="alert-primary">

					{% elseif 'ROLE_VALIDATED' in usuari.roles %}
						<tr class="alert-success">

						{% elseif 'ROLE_USER' in usuari.roles %}

							<tr class="alert-warning">
							{% endif %}
							<td>
								{{usuari.username}}
							</td>
							<td>
								{{usuari.nom}}
								{{usuari.cognom}}
							</td>
							<td>
								{{usuari.email}}
							</td>
							<td>
								{{usuari.dataregistre|date('d/m/Y')}}
							</td>
							<td>
								{{usuari.ultimlogin|date('d/m/Y')}}
							</td>
							<td>
								{{usuari.github}}
							</td>
							<td>
								{{usuari.linkedin}}
							</td>
							<td>
								{{usuari.twitter}}
							</td>
							<td>
								{{usuari.facebook}}
							</td>
							<td>
								<a href="{{path('articlesAutor', {username:usuari.username}) }}">
									{{usuari.articles|length}}</a>
							</td>

							<td>
								{{usuari.comentaris|length}}
							</td>
							<td>
								<a href="{{path('userProfile', {username:usuari.username}) }}">
									<i class="fa fa-eye"></i></a>
								</td>
							</td>
						</tr>

					{% endfor %}


				</section>
			{% endblock %}
