<ul class="menu-user">
	{% if app.user %}
		<li>
			<a href="{{ path('userProfile', {username: app.user.username}) }}" alt="ver perfil de {{app.user.username}}">
				{% if app.user.imatge %}
					<img src="{{ asset("img/imatges_perfil/" ~ app.user.imatge) }}" alt="imatge de perfil" id="img-modif">
				{% else %}
					<i class="fa fa-user-circle"></i>
				{% endif %}
			</a>
		</li>
		<li>
			<a class="menu-link menu-username" href="{{ path('userProfile', {username: app.user.username}) }}">{{app.user.username}}</a>
		</li>
		<li>
			<a class="menu-link logout-link" href="{{ path('app_logout')}}" alt="cerrar la sessión">
				sortir
			</a>
		</li>
	{% endif %}
</ul>

<ul class="menu-bottom">
	<li>
		<a class="menu-link active" href="{{ path('homepage')}}" añt="página de incio" title="Volver a la página de inicio">b-NERD toDEVELOPE</a>
	</li>

	<li>
		<a class="menu-link" href="{{ path('article_new')}}" alt="Formulario de nuevo artículo">NUEVO ARTICULO</a>
	</li>
	<li>
		<a class="menu-link" href="{{ path('adminArticles')}}" alt="enlace al administrador de artículos">ARTICULOS</a>
	</li>
	<li>
		<a class="menu-link" href="{{ path('adminCategories')}}" alt="enlace al administrador de categorías">CATEGORIAS</a>
	</li>
	<li>
		<a class="menu-link" href="{{ path('adminComentaris')}}" alt="enlace al administrador de comentarios">COMENTARIOS</a>
	</li>
	<li>
		<a class="menu-link" href="{{ path('adminUsuaris')}}" alt="enlace al administrador de usuarios">USUARIOS</a>
	</li>

	<li id="hamburgesa">
		<i class="menu-icon fa fa-bars" alt="ver menu de navegació"></i>
	</li>
	<li id="dark-mode">
		<i class="menu-icon fa fa-toggle-off" alt="botón para activar o desactivar el tema oscuro"></i>
	</li>

</ul>
