<ul class="menu-user">
	<li>
		<a href="{{ path('homepage')}}" alt="Enllaç a formulari de login">
			<i class="menu-icon fa fa-home"></i>
		</a>
	</li>
</ul>

<ul class="menu-bottom">

	<li>
		<a class="menu-link active" href="{{ path('homepage')}}" alt="Enllaç a formulari de login">
			<i class="menu-icon fa fa-home"></i>
		</a>
	</li>
	{% for section in sections %}
		<li>
			<a class="menu-link scrollable" href="#{{section.linkslug}}" alt="{{section.linkalt}}">{{section.linkname}}</a>
		</li>
	{% endfor %}

	<li id="hamburgesa">
		<i class="menu-icon fa fa-bars" alt="Desplegar el menu de navegació"></i>
	</li>
	<li id="dark-mode">
		<i class="menu-icon fa fa-toggle-off" alt="Botó per activar o desactivar el tema fosc"></i>
	</li>

</ul>
