{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titol</th>
                <td>{{ article.titol }}</td>
            </tr>
            <tr>
                <th>Subtitol</th>
                <td>{{ article.subtitol }}</td>
            </tr>
            <tr>
                <th>Contingut</th>
                <td>{{ article.contingut }}</td>
            </tr>
            <tr>
                <th>Data_publicacio</th>
                <td>{{ article.dataPublicacio ? article.dataPublicacio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Data_actualitzacio</th>
                <td>{{ article.dataActualitzacio ? article.dataActualitzacio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Tag_meta</th>
                <td>{{ article.tagMeta ? article.tagMeta|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Tag_web</th>
                <td>{{ article.tagWeb ? article.tagWeb|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('index') }}">back to list</a>

    {# {{ include('article/_delete_form.html.twig') }} #}
{% endblock %}
